{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ .Title }}</title>
  <!-- headers block -->
  {{ block "headers" .}} {{ end }}
  <!-- /header" block -->

  <!-- style block -->
  {{ block "style" .}} {{ end }}
  <!-- /style block -->

</head>

<body>
  <div class="container">
    <header>
      {{ block "header" .}}{{ end }}
    </header>

    <main>
      <section id="content">
        {{ block "content" .}} {{end}}
      </section>

      <section id="side">
        {{ block "side" .}}{{ end }}
      </section>
    </main>
    <footer>
      <!-- footer block -->
      {{block "footer" .}} {{end}}
      <!-- /footer block -->
    </footer>
  </div>

  <!-- js block -->
  {{block "js" .}} {{end}}
  <!-- /js block -->
</body>

</html>
{{ end }}
