{{define "style"}}
<style>
  body {
    margin: 1em;
    padding: 1em;
    font-family: Lora, serif;
  }

  img#profile {
    border-radius: 50%;
  }

  #profile-container {
    margin-top: auto;
    margin-bottom: auto;
    display: block;
  }

  h1,
  h2,
  h3 {
    font-family: "Open Sans", sans-serif;
  }

  @font-face {
    font-family: titleFont;
    src: url({{ RootRel "/static/font.woff2" }});
  }

  #content h1 {
    font-family: titleFont;
    font-size: 500%;
    margin-bottom: 0;
    color: #020;
  }

  #content img {
    max-width: 80%;
    border: 2px solid #669;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  header {
    font-size: 150%;
    font-family: monospace;
    padding: 0.5em;
    : #999;
    display: flex;
    background-color: #E7F1FE;
  }

  .left {
    border: 1px solid 00f;
    width: 70%;
  }

  .right {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 80%;
    text-align: right;
    flex-grow: 1;
  }

  div#name {
    margin-left: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 3;
  }

  .menuitem {
    display: inline-block;
  }

  main {
    display: flex;
  }

  #content {
    padding-left: 8mm;
    padding-right: 8mm;
    flex-basis: 60em;
    color: #242;
    font-size: 120%;
  }

  #side {

    flex-basis: 800px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 4px;
  }

  #side img {
    margin: 2px;
  }

  .daily {
    display: inline-block;
  }

  pre {
    overflow-x: auto;
    font-size: 90%;
  }

  blockquote {
    margin: 10px;
    border-left: 3px solid #eee;
    padding-left: 15px;
    color: #333;
  }

  #footsie {
    text-align: right;
    font-family: monospace;
  }

  .prev_next {
    border-top: 1px solid #aaa;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #f5f5f5;
    margin-bottom: 1em;
    width: 100%;
  }

  .previous {
    width: 49%;
    text-align: left;
    display: inline-block;
  }

  .next {
    text-align: right;
    width: 49%;
    display: inline-block;
  }
</style>
{{ end }}
