{{ define "headers" }}
  <link href="atom.xml" type="application/atom+xml" rel="alternate" title="{{.Title }} feed" />
  <meta name=viewport content="width=device-width, initial-scale=1"/>
{{ end }}}

{{ define "content" }}}
  <h1>{{ .Title }}</h1>
  {{ .Content }}
{{ end }}
