{{define "style"}}
    <style>
    h1 {
        font-family: sans-serif;
    }
    
    h2 {
        font-family: sans-serif;
    }
    
    pre {
        overflow-x: auto;
    }
    
    blockquote {
        margin: 10px;
        border-left: 3px solid #eee;
        padding-left: 15px;
        color: #333;
    }
    
    @media screen and (min-width: 15cm) {
        body {
            max-width: 18cm;
            padding-left: 8mm;
            padding-right: 8mm;
        }
    }
    
    hr {
        border: none;
        height: 1px;
        background-color: lightgray;
        margin-top: 5mm;
        margin-bottom: 8mm;
    }
    
    .entrylink {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .datelink {
        padding-left: 1em;
        color: blue;
        font-style: italic;
        text-decoration: none;
        white-space: nowrap;
    }
    
    .vote {
        float: right;
    }
    </style>
{{ end }}